<% safe_tags = %w(h1 h2 h3 h4 h5 h6 img figure a p span div pre code hr mark section main em i strong b blockquote cite del ul ol li table thead tbody tr th td br sup sub abbr) 
safe_attr = %w(href src srcset sizes alt title id width border object-fit aspect-ratio start) 
no_style_or_scripts = Loofah::Scrubber.new do |node|
  if node.name == "style" or node.name == "script"
    node.remove
  end
end %>
<p><%= link_to raw("<button type=\"button\">Manage Feeds</button>"), feeds_path %>

<% if @entries.empty? %>
  <p>You haven't added any RSS or Atom feeds.  Click the Manage Feeds button above to add your first feed.
<% end %>

<% @entries.each do |entry| %>
<h1><%= link_to entry.title, entry.link, rel: "nofollow" %></h1>
<p><strong><%= entry.feed.name %></strong> <%= entry.published.strftime("%B %e, %Y") %></p>
<%= sanitize(sanitize(entry.content, scrubber: no_style_or_scripts), tags: safe_tags, attributes: safe_attr) %>
<hr>
<% end %>
<%= paginate @entries %>
