<h2>Manage Users</h2>
<%= link_to "New User", new_user_path %>
<hr>
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%=user.email%></td>
      <td><%=user.name%></td>
      <td><%= if user.admin == 1
                "Admin" 
              elsif user.admin == 2
                "Publisher"
              else
                "Subscriber"
              end %></td>
      <td>
        <% if user == current_user %>
          <%= link_to "Change Password",
            edit_user_registration_path,
            class: 'nowrap' %> 
        <% else %>
          <%= link_to "Change Role", 
            toggle_user_admin_path(user),
            method: :post,
            class: 'nowrap' %> |
          <%= link_to 'Reset Password', reset_user_password_path(user),
            method: :post, class: 'nowrap' %> |
          <%= link_to 'Delete', user_path(user),
            method: :delete, class: 'nowrap',
            data: { confirm: "Are you sure you want to delete #{user.name} with email: #{user.email}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
