<p>User successfully <%=@verb%></p>

<%= link_to "Back", users_path %>

<hr>

<strong>Name:</strong> <%= @user.name %><br>
<strong>Email:</strong> <%= @user.email %><br>
<strong>Password:</strong> <%= @password %><br>
<hr>
Please share this login information with <%= @user.name %>.



