<h1>Custom Fonts</h1>
<%= render "fonts", setting: @setting, allow_remove: true %>
<%= form_tag(create_font_path, method: "post", multipart: true) do %>
  <%= file_field_tag 'font', accept: ".ttf,.otf,.woff,.woff2" %>
  <%= submit_tag "Upload Font" %>
<% end %>

<%= link_to "Back", settings_edit_path(id: 1) %>
