<h1>Blog Settings</h1>

<%= form_with scope: :setting, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :subtitle %><br>
    <%= form.text_field :subtitle %>
  </p>
  <p>
    <%= form.check_box :byline %>
    <%= form.label :byline, "Display Author Bylines" %>
  </p>
  <p>
    <%= form.check_box :comments %>
    <%= form.label :comments, "Enable Comments on Posts" %>
  </p>
  <p>
    <%= form.label :css, (link_to "Custom CSS", "/themes", target: "_blank" )%><br>
    <%= form.text_area :css %>
  </p>
 
  <p>
    <%= form.submit value: "Save Settings" %>
  </p>
<% end %>
