<h1>Blog Settings</h1>

<%= form_with scope: :setting, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :subtitle %><br>
    <%= form.text_field :subtitle %>
  </p>
  <p>
    <%= form.check_box :byline %>
    <%= form.label :byline, "Display Author Bylines" %>
  </p>
  <p>
    <%= form.check_box :comments %>
    <%= form.label :comments, "Enable Comments on Posts" %>
  </p>
  <p>Custom Fonts:</p>
  <%= render "fonts", setting: @setting, allow_remove: false %>
  <p><%= link_to "Modify Custom Fonts", edit_fonts_path %></p>
  <p>
    <%= form.label :css, (link_to "Custom CSS", "/themes", target: "_blank" )%><br>
    <%= form.text_area :css, :style => 'display:block;width:100%;' %>
  </p>
 
  <p>
    <%= form.submit value: "Save Settings" %>
  </p>
<% end %>
