<p>
  <strong>Title:</strong>
  <%= @setting.title %>
</p>
<p>
  <strong>Subtitle:</strong>
  <%= @setting.subtitle %>
</p>
<p>
  <strong>Author:</strong>
  <%= @setting.author %>
</p>
<p>
  <strong>Visibility:</strong>
  <%= @setting.visibility %>
</p>
<p>
  <strong>CSS:</strong>
  <%= @setting.css %>
</p>
