<% if @recent_comments_and_likes.size > 0 %>
<h2>Recent Activity</h2>
<div>
<% @recent_comments_and_likes.each do |reaction| %>
  <% if reaction.is_a? Like %>
    <p><%= time_ago_in_words(reaction.created_at) %> ago, <%= reaction.reaction %> from <%= reaction.user.name %> on <%= link_to PostsController.make_slug(reaction.post.content).titleize, reaction.post %></p>
  <% elsif reaction.is_a? Comment %>
    <p><%= time_ago_in_words(reaction.created_at) %> ago, <%= reaction.author.name %> commented on <%= link_to PostsController.make_slug(reaction.post.content).titleize, reaction.post %></p>
  <% end %>
<% end %>
</div>
<hr>
<% end %>
