<hr>
<%= form_with model: @post, local: true do |form| %>
  <%= form.date_field :date, :style => 'display:inline;', :value => @post.datetime.strftime("%Y-%m-%d") %>
  <%= form.time_field :time, :style => 'display:inline;', :value => @post.datetime.strftime("%H:%M") %>
  <%= form.text_area :content, :rows => 10, :style => 'display:block;width:100%;', :oninput => "doRender();", :value => @post.content %>
  <%= form.file_field :pic, :accept => "image/*,.mp4,.mp3", :style => "display:inline;", :multiple => true %>
  <%= form.submit :value => "Upload Selected Image", :style => "display:inline;" %>
  <%= form.submit :value => "Save Post", :style => "display:block;" %>
<% end %>

<%= link_to "Markdown", "/markdown", target: "_blank" %> Preview:
<hr>


<div id="display">
</div>

<script type="text/javascript">
function doRender() {
  var converter = new showdown.Converter();
  converter.setFlavor('github');
  var text      = document.getElementById("post_content").value;
  var html      = converter.makeHtml(text);
  document.getElementById("display").innerHTML = html;
}
doRender();
function setTime() {
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear().toString();
  var dateString = yyyy + "-" + mm + "-" + dd;
  var hh = String(today.getHours()).padStart(2, '0');
  var mm = String(today.getMinutes()).padStart(2, '0');
  var timeString = hh + ":" + mm;
  document.getElementById("post_date").value = dateString;
  document.getElementById("post_time").value = timeString;
}
if (document.getElementById("post_content").value.trim()=="") {
  setTime();
}
</script>
