<%= link_to post.datetime.strftime('%B %d, %Y'), post_path(post), :class => "post-date" %>

<% if current_user.admin == 1 || (current_user.admin == 2 and post.author == current_user) %>
<span style="float: right;">
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</span>
<% end %>

<% if @settings.byline %>
<div class="post-author"><%= post.author.name %></div>
<% end %>

<%= CommonMarker.render_html(post.content, [:UNSAFE, :HARDBREAKS], PostsController::GFM_EXT).html_safe %>

<% if @settings.comments %>
  <% if post.comments.size > 0 %>
    <p><strong>Comments:</strong></p>
  <% end %>
  <% post.comments.each do |comment| %>
    <small><%=comment.author.name%></small>
    <% if current_user.admin == 1 || (current_user.admin == 2 and post.author == current_user) %>
      <span style="float: right;">
      <%= link_to 'Delete', destroy_comment_path(comment),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this comment?' } %>
      </span>
    <% end %>
    <br/><%= comment.body %><br/>
  <% end %>
  <br<%= show_page ? raw(' id="comment_form"') : "" %>/>
  <%= form_tag("/posts/#{post.id}/comments", method: "post") do %>
    <%= text_field_tag(:comment_body, nil, {placeholder: "Write a comment..."}) %>
    <%= submit_tag("Post Comment") %>
  <% end %>
<% end %>
