<% if current_user.admin >= 1 %>
<p><%= link_to raw("<button type=\"button\" id=\"New Post Button\">New Post</button>"), new_post_path %>
<% end %>
<hr> 

<% if @posts.empty? %>
  <p>Nobody has written anything yet.</p>
  <% if current_user.admin >= 1 %>
  <p>You can click the New Post button above to start writing your first post.</p>
  <% end %>
<% end %>

<% if current_user.admin == 1 && @settings.comments %>
  <%= render "activity" %>
<% end %>

<% unless params[:page].nil? || params[:page]=="1" %>
  <%= paginate @posts %>
<% end %>

<% @posts.each do |post| %>
  <%= render "posts", post: post, show_page: false %>
  <hr>
<% end %>
<%= paginate @posts %>
