<h1>New Post</h1>
<hr>
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <%= form.date_field :date, :style => 'display:inline;', :value => @post.datetime.strftime("%Y-%m-%d") %>
  <%= form.time_field :time, :style => 'display:inline;', :value => @post.datetime.strftime("%H:%M") %>
  <%= form.text_area :content, :rows => 10, :oninput => "doRender();", :value => @post.content %>
  <%= form.file_field :pic, :accept => "image/*", :style => "display:inline;" %>
  <%= form.submit :value => "Upload Selected Image", :style => "display:inline;" %>
  <%= form.submit :value => "Save Post" %>
<% end %>
<hr>

<div id="display">
</div>

<script type="text/javascript">
function doRender() {
  var converter = new showdown.Converter();
  var text      = document.getElementById("post_content").value;
  var html      = converter.makeHtml(text);
  document.getElementById("display").innerHTML = html;
}
</script>
