<!DOCTYPE html>
<% @settings = SettingsController.get_setting %>
<html>
  <head>
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= ApplicationController.get_settings.title || "New Blog" %></title>
    <link rel="icon" href="/favicon.ico" /><!-- 48×48 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="apple-touch-icon" href="/apple.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />
    
    <link rel="indieauth-metadata" href="<%=indie_auth_metadata_url %>" />
    <link rel="authorization_endpoint" href="<%=indie_authorization_endpoint_url %>" />
    <link rel="token_endpoint" href="<%= indie_token_endpoint_url %>" />
    <link rel="micropub" href="<%= micropub_url %>" />
    <link rel="microsub" href="<%= microsub_url %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% unless current_user.nil? %>
      <% rss_user = current_user.basic_auth_username
         rss_pass = current_user.basic_auth_password
         scheme, host = request.base_url.split("//") %>
      <link rel="alternate" type="application/rss+xml" title="<%=@settings.title%> RSS" href="<%="#{scheme}//#{rss_user}:#{rss_pass}@#{host}/rss"%>">
    <% end %>
    <% if !!@settings and !!@settings.font_hash %>
      <link rel="stylesheet" type="text/css" href="/css/<%= @settings.font_hash %>/fonts.css" />
    <% end %>
    <% if !!@settings and !!@settings.css_hash %>
      <link rel="stylesheet" type="text/css" href="/css/<%= @settings.css_hash %>/style.css" />
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <input type="checkbox" id="hamburger-toggle" style="display: none;">
    <nav>
    <header>
      <%=link_to "Home", root_path, class: 'navigation-home' %>
      <label for="hamburger-toggle" class="hamburger-label"></label>
      <div class="nav-links">
        <% if user_signed_in? %>
          <% if current_user.admin == 1 %>
            <%= link_to "Tags", all_tags_path %>
            <%= link_to "Read", read_path %>
            <%= link_to "Settings", settings_edit_path(id: 1) %>
            <%= link_to "Users", users_path %>
          <% end %>
          <%= link_to "Account", edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
        <% end %>
      </div>
    </header>
    </nav>
    <div class="container">
    <% if notice and !notice.empty? %>
      <p class="notice"><%= notice %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>
    <% if alert and !alert.empty? %>
      <p class="alert"><%= alert %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>

    <% if !!@settings %>
      <% if !!@settings.title && !@settings.title.empty? %>
        <h1 class="title"><%=@settings.title%></h1>
      <% end %>
      <% if !!@settings.subtitle && !@settings.subtitle.empty? %>
        <p class="subtitle"><%=@settings.subtitle%></p>
      <% end %>
    <% end %>

    <%= yield %>
    </div>

  </body>
</html>
