<!DOCTYPE html>
<html>
  <head>
    <title><%= !!@settings ? @settings.title : "Blog Not Named" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <% if !!@settings %>
      <% if !!@settings.title && !@settings.title.empty? %>
        <h1 class="blog_title"><%=link_to @settings.title, posts_path%></h1>
      <% end %>
      <% if !!@settings.subtitle && !@settings.subtitle.empty? %>
        <p class="lead blog_subtitle"><%=@settings.subtitle%></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
