<!DOCTYPE html>
<% @settings = SettingsController.get_setting %>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= ApplicationController.get_settings.title || "New Blog" %></title>
    <link rel="icon" href="/favicon.ico" /><!-- 48×48 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="apple-touch-icon" href="/apple.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if !!@settings and !!@settings.font_hash %>
      <link rel="stylesheet" type="text/css" href="/css/<%= @settings.font_hash %>/fonts.css" />
    <% end %>
    <% if !!@settings and !!@settings.css_hash %>
      <link rel="stylesheet" type="text/css" href="/css/<%= @settings.css_hash %>/style.css" />
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <nav>
    <header>
      <%=link_to "Home", root_path, class: 'navigation-home' %>
        <% if user_signed_in? %>
          <% if current_user.admin == 1 %>
            <%= link_to "Feed", read_path %>
            <%= link_to "Settings", settings_edit_path(id: 1) %>
            <%= link_to "Users", users_path %>
          <% end %>
          <%= link_to "Account", edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
        <% end %>
    </header>
    </nav>
    <div class="container">
    <% if notice and !notice.empty? %>
      <p class="notice"><%= notice %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>
    <% if alert and !alert.empty? %>
      <p class="alert"><%= alert %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>

    <% if !!@settings %>
      <% if !!@settings.title && !@settings.title.empty? %>
        <h1 class="title"><%=@settings.title%></h1>
      <% end %>
      <% if !!@settings.subtitle && !@settings.subtitle.empty? %>
        <p class="subtitle"><%=@settings.subtitle%></p>
      <% end %>
    <% end %>

    <%= yield %>
    </div>

  </body>
</html>
