<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= ApplicationController.get_settings.title || "New Blog" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="/css/<%=SettingsController.get_setting.css_hash%>/style.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <nav class="navigation">
      <div class="container">
      <%=link_to "Home", root_path, class: 'navigation-home' %>
      <ul class="navigation-list float-right">
        <% if user_signed_in? %>
          <% if current_user.admin == 1 %>
            <li><%= link_to "New Post", new_post_path %></li>
            <li><%= link_to "Edit Settings", settings_edit_path(id: 1) %></li>
            <li><%= link_to "Manage Users", users_path %></li>
          <% end %>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
        <% end %>
      </ul>
      </div class="container">
    </nav>

    <div class="container">
    <% if notice %> <p class="notice"><%= notice %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p> <% end %>
    <% if alert %> <p class="alert"><%= alert %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p> <% end %>

    <% if !!@settings %>
      <% if !!@settings.title && !@settings.title.empty? %>
        <h1 class="title"><%=@settings.title%></h1>
      <% end %>
      <% if !!@settings.subtitle && !@settings.subtitle.empty? %>
        <p class="subtitle"><%=@settings.subtitle%></p>
      <% end %>
    <% end %>

    <%= yield %>
    </div>

  </body>
</html>
